
.btn{
    color: red;
    background-color: white;
    width: 90px;
    height: 30px;
    margin-bottom: 12px;
    margin-right: 12px;
  }
   /* main post div */
.feed {
   
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 20px;
}

/*  post input div */
.post {
    height: 70px;
    width: 50%;
    border: 2px solid rgb(199, 198, 198);
    display: flex;
    align-items: center;
    margin-left: 40px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgb(192, 186, 186);
}

.from {
  
    width: 70%;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}

/* user profile */
.profile {
    margin-left: 12px;
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(150, 76, 76);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* input feild */
.input {
    margin-left: 20px;
    width: 70%;
}

/* main input */
.input input {
    width: 100%;
    padding: 8px;
    font-size: 24px;
    border-radius: 20px;
    border: 2px solid white;
    outline: none;
}

.btn-click{
    color: red;
    background-color: white;
    border-radius: 15px;
    width: 90px;
    height: 30px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 30px;
    align-content: center;
}

.sendbtn {
    padding: 10px 10px;
    margin-left: 20px;
    background-color: white;
    color: red;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 13px;
}

.title {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 900px) {
    .post {
        width: 90%;
        justify-content: space-between;
    }
    
}